@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,400;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fbfbfb;
  font-size: 18px;
  line-height: 1.2;
  width: 100%;
  color: #0f0f0f;
  max-height: 500px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  max-width: 1200px;
  margin: auto;
}

header {
  background-color: #fbfbfb;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  padding: 16px 0px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

p.descripcion {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}

ul#menu {
  display: flex;
  font-size: 20px;
  justify-content: space-around;
}

li.menu-item {
  margin: 0;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  min-height: 90vh;
  padding-top: 120px;
}

section#inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#contacto {
  height: 300px;
  padding-top: 100px;
}

figure.presentacion-img {
  margin-bottom: 5px;
}

figure.presentacion-img img {
  border-radius: 50%;
  width: 400px;
}

article.presentacion {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

a.btn {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  font-style: normal;
  background-color: #01756c;
  color: #fbfbfb;
  padding: 12px;
  border-radius: 50px;
  position: sticky;
}

article.hablemos {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #01756c;
  color: #fbfbfb;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  margin-top: 70px;
  font-style: italic;
  margin: 40px 0px 0px 0px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  text-align: center;
  font-weight: 900;
  font-style: italic;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 900;
  font-style: italic;
}

p.footer {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
}

.iconos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.iconos a {
  margin: 70px 30px 0 30px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #01756c;
  height: 90px;
  color: #fbfbfb;
  margin-bottom: 0px;
}
/* MEDIAQUERIES */

@media (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    font-size: 48px;
    text-align: left;
  }

  h2 {
    font-size: 22px;
  }

  section#inicio {
    flex-direction: row;
    justify-content: space-around;
    padding-top: 13%;
  }

  article.presentacion {
    width: 50%;
    display: flex;
    text-align: left;
  }

  article.hablemos {
    max-width: 50%;
  }

  div.iconos {
    max-width: 500px;
    margin: 32px;
  }

  section#contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  header {
    background-color: #fbfbfb;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 16px 0px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 30px;
    padding-right: 20px;
  }
}

li.menu-item:hover,
a.btn:hover {
  border-radius: 50px;
  background-color: rgba(136, 136, 136, 0.5);
  transition: background-color 0.3s;
}

li.menu-item:hover {
  color: #01756c;
}

figure.presentacion-img {
  width: 40%;
  height: 40%;
}

a.btn {
  display: inline-block;
  max-width: fit-content;
}
